[defaults]
inventory = inventory/hosts.yml

remote_user = ansible

private_key_file = ~/.ssh/ansible_key

host_key_checking = True

forks = 5

interpreter_python = /usr/bin/python3

log_path = ./ansible.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes -o IdentitiesOnly=yes
pipelining = True
